.spinner-anim {
  transition:.5s;
}

g.first{
  transform-origin:center;
}


g.second{
  
    transform: scale(0.8) rotate(-80deg);
    transform-origin: center;
}

g.third{
  
    transform: scale(0.6) rotate(-160deg);
    transform-origin: center;
}


@keyframes rotating {
  from {
    transform: scale(0.6) rotate(360deg);
  }
  to {
    transform: scale(0.6) rotate(0deg);
  }
}

@keyframes rotating-md {
  from {
    transform: scale(0.8) rotate(420deg);
  }
  to {
    transform: scale(0.8) rotate(60deg);
  }
}

@keyframes opaq {
  0% {
    opacity: 0
  }
  50%{
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

@keyframes rotating-lg {
  from {
    transform: scale(1) rotate(480deg);
  }
  to {
    transform: scale(1) rotate(120deg);
  }
}

.rotating {
  animation: rotating 2s linear infinite, opaq 2s linear infinite;
}

.rotating-md {
  animation: rotating-md 2s linear infinite, opaq 2s linear infinite;
  animation-delay:.15s;
}


.rotating-lg {
  animation: rotating-lg 2s linear infinite, opaq 2s infinite;
  animation-delay:.3s;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
